---
---

// $header-heading-color: #000 !default;
.h1{
    color: black;
} // I HAD TO PLACE THIS .H1 CSS HERE IN ORDER TO GET LINE 9 TO WORK. FOR SOME REASON, IT DIDN'T WORK UNLESS THERE WAS TEXT ABOVE IT.

$header-bg-color: black !default;

@import "{{ site.theme }}";

.page-header h1 {
    color:  black;
}

.about {
    padding: 0;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 0;
}

li.btn {
    color: white;
}

// Listing CSS
.card {
    display: flex;
    margin-bottom: 1rem;
    border-bottom: solid 1px #ccc;
}

.picture {
    margin-right: 1.5rem;
}

.image {
    width: 200px;
}